* {
    margin: 0;
    padding: 0;
    box-sizing:border-box
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #c0c1ec;
}

h1 {
    background-color: #f2f48b;
    padding: 0 10px;
}

textarea {
    
    width: 300px;
    height: 100px;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    display: block;
    margin: 1em;
    border: 1px solid slategray;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}