body {
  margin: 0;
  font-family: sans-serif;
  transition: background 0.3s, color 0.3s;
}

ul {
  width:  10vw;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  margin: 0 0 0 5px;;
  padding: .5em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  line-height: 1.5em;
  background: none;
}


button {
    padding: .8em;
    margin: .2em;
    border-radius: 5px;
    background: lightgray;
    box-shadow: 2px 3px 3px 1px slategray;
}

li {
  width: 100%;
  list-style-type: none;
  box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.5)

}

ul li:last-child {
  box-shadow: none;
}

body.theme-light {
  background-color: #ffffff;
  color: #000000;
}

body.theme-nord {
  background-color: #2E3440;
  color: #d8dee9;
}

body.theme-dark {
  background: #121212;
  color: #ffffff;
}

body.theme-ocean {
  background-color: #0077be;
  color: #e0f7fa;
}

#status {
  text-align: center;
  min-height: 20px;
}