/* element selectors */
span {
display: block;
color: darkred;
align-self: center;
justify-self: center;
font-size: .45em;
padding: 0 0 1px 0;
margin: 0 0 1px 0;
}

button {
background: black;
color: white;
border-radius: 5px;
}

div {
    border-radius: 15px;
}

/* core div content */
body {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

main {
    overflow: hidden;
    min-height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-rows: 3fr 2fr 2fr 2fr;
    justify-content: center;
}

/* calculator start */
#Full {
    display: grid;
    grid-template-rows: 3fr 2fr 2fr;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: darkgray;
    min-width: 45cqw;
    height: 97cqh;
}


#outer {
    display: grid;
    min-width: 43cqw;
    height: 95cqh;
    background-color: lightgray;
    grid-template-rows: 4fr 2fr 4fr 3fr;

}

#top {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header {
    padding: 0;
    margin: 0;
    text-align: center;
    min-height: 1cqh;
}

#screen {
    padding: 0;
    margin: 1.5cqh auto 2px auto;
    height: 100%;
    min-width: 90%;
    background: black;
}

#dpad-area {
    overflow: hidden;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#numpad {
    padding: 0;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 2fr 1fr;
}


#dpadholder {
    background: darkgray;
    width: 50%;
    justify-self: center;
    min-height: 25%;
}

#alpha {
    margin-top: 1cqh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    max-height: 100%;
    max-width: 100%;
}

/* header extras */
h1 {
    min-height: .8cqh;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* dpad divs and extras */

#dleft {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#dleft button {
    margin: 0;
    padding: 0;
    width: 5cqw !important;
    font-size: .6em;
}

#dpadholder {
display: grid;
padding: 0;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
grid-template-areas: /* 3 x 3 */
". up ."
"left center right"
". down .";
}

#dcenter {
margin-left: 1px;
margin-top: 1px;
background: black;
grid-area: center;
border-radius: 0;
}

#dright {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#dright button {
    margin: 0;
    padding: 0;
    width: 50%;
    font-size: .5em;
}

/* Numpad divs and extras*/

#nleft {
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: .6fr .3fr .6fr .3fr .6fr .3fr .6fr .3fr .6fr;
    grid-template-areas:
    ". ctrl ."
    ". ineq help"
    ". equal trig"
    ". nthroot sqrt"
    ". power square"
    ". natlog log"
    ". invnat invlog"
    ". brackets curly"
    ". lpar rpar";
}

#nmiddle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .4fr .5fr .5fr .5fr .5fr .3fr .5fr;
    align-items: center;
    justify-items: center;
    grid-template-areas:
    "caps . sto"
    "shift . var" 
    "seven eight nine"
    "four five six"
    "one two three"
    ". capture ans"
    "zero decimal neg";
}

#nright {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: .3fr .6fr .3fr .6fr .3fr .6fr .3fr .6fr .3fr .6fr;
    grid-template-areas:
    ". clear ." 
    ". del ."
    "cata lib ." 
    "fraction book ."
    "dotx vrt ."
    "multiply divide ."
    "bridown briup ."
    "add minus ."
    ". approx ."
    "enter enter .";
}

#nleft button {
    margin: 0;
    padding: 0;
    width: auto;
    align-items: flex-start;
    font-size: .4em;
}

#ctrl {
    grid-area: ctrl;
    background: yellow;
    color: black;
}

#nmiddle span {
padding-bottom: 1px;
margin: 0;
max-height: .6em;
font-size: .5em;
}

#nright button {
    margin: 0;
    padding: 0;
    width: auto;
    font-size: .4em;
}

#nmiddle button {
    padding: 0;
    margin: 0;
    font-size: .6em;
}

.num { width: 6cqw;
font-size: .7em; }

/* alpha area divs and extra */

#alpha button {
    font-size: .5em;
}

#aleft {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

#amiddle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

#aright {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
}


.smlside {
    align-self: center;
    justify-self: center;
}

/* make numpad and alpha x y z black on white */
button#nine, button#eight, button#seven, button#six, button#five, button#four, button#three, button#two, button#one, button#zero, button#decimal, button#neg, button#x, button#y, button#z {
background: white;
color: black;
}

/* GRID AREAS ONLY */

/* dleft grid-areas */
#goback { grid-area: goback; }
#esc { grid-area: esc; }
#save { grid-area: save; }
#calc { grid-area: calc; }
#tab { grid-area: tab; }
/* dpad areas */
#larr { grid-area: left; }
#rarr { grid-area: right; }
#darr { grid-area: down; }
#uarr { grid-area: up; }

/*npad left areas */
/* spans */
#ineq { grid-area: ineq; }
#help { grid-area: help; }
#nthroot { grid-area: nthroot; }
#sqrt { grid-area: sqrt; }
#natlog { grid-area: natlog; }
#log { grid-area: log; }
#brackets{ grid-area: brackets; }
#curly { grid-area: curly; }
/* buttons */
#equal {    grid-area: equal; }
#trig {    grid-area: trig; }
#power {    grid-area: power; }
#square {    grid-area: square; }
#invnatlog {    grid-area: invnat; }
#invlog { grid-area: invlog; }
#leftparen { grid-area: lpar; }
#rightparen { grid-area: rpar; }

/* npad spans */
#caps { grid-area: caps; }
#sto { grid-area: sto; }
#capt { grid-area: capture; }
#ans { grid-area: ans; }

/* numpad middle buttons */
#shift {
    justify-self: flex-end;
    grid-area: shift;
    width: 6cqw;

}
#var {
    justify-self: flex-start;
    grid-area: var;
    width: 6cqw;
}
#seven {    justify-self: flex-end;
    grid-area: seven; }
#eight { grid-area: eight; }
#nine {    justify-self: flex-start;
    grid-area: nine; }
#four { justify-self: flex-end; 
    grid-area: four; }
#five { grid-area: five; }
#six { justify-self: flex-start;
    grid-area: six; }
#three { justify-self: flex-start;
    grid-area: three; }
#two { grid-area: two; }
#one { grid-area: one;
    justify-self: flex-end; }
#zero { justify-self: flex-end; 
    grid-area: zero; }
#decimal { grid-area: decimal; }
#neg { justify-self: flex-start;
    grid-area: neg; }

/* numpad right spans */
#clear { grid-area: clear; }
#catalog { grid-area: cata; }
#lib { grid-area: lib; }
#dotx { grid-area: dotx; }
#vrtfrac { grid-area: vrt; }
#bridown { grid-area: bridown; }
#briup { grid-area: briup; }
#approx { grid-area: approx; }
/*numpad right buttons */
#enter {
    grid-area: enter;
    width: 7cqw !important;
    align-self: center;
    justify-self: center;
}
#del { grid-area: del; }
#fraction { grid-area: fraction; }
#book { grid-area: book; }
#multiply { grid-area: multiply; }
#divide { grid-area: divide; }
#add { grid-area: add; }
#minus { grid-area: minus; }

/* alpha grid areas */