@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#email {
  width: 500px;
  box-sizing: border-box;
  padding: 50px;
  margin-top: 50px;
  border: 2px solid black;
  background-color: beige;
}
h1{
  text-align: center;
}
.blurred {
  filter: blur(3px);
}

#confidential , #top-secret {
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 1px;
  border: 2px solid red;
  color: red;
}

#confidential {
  transform: rotate(-8deg) translate(30px,-30px);
  margin-left: 9rem;
  font-size:12px;

}
p {
  margin: 5px 5px 0 0;
  padding: 5px;
}
#top-secret {
  margin-left: 3rem;
  transform: rotate(15deg);
}