@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-size: 24px;
  background-color: lightsteelblue;
}
h2 {
  margin: 0;
}
.newspaper {
  width: 90%;
  padding: 0 5px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: ivory;
}

.name, .date {
  text-align: center;
}

.name {
  font-size:2rem;
  font-family:'Times New Roman', serif;
  margin: 0;

}

.date {
  display: flex;
  align-items: top;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size:.7em;
  line-height: .01em;
}
.author {
  font-weight: 700;
  font-size: .8em;
}

.name, .author {
  text-transform: uppercase;
}
.name, .date, .headline {
  margin: -10px 0;
  padding: 0;
}
.headline {
  font-size: 2em;
  font-weight: 700;
}

.sub-headline {
  font-weight: 100;
  font-size: 1.5em;
  font-style: italic;
}

.text {
  text-indent: 20px;
  line-height: 2em;
}

.text::first-letter {
  font-size: 2em;
  font-weight: 700;
}