@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
}

.newspaper-layout {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: calc(1fr/3) 1fr 1fr 1fr;
  grid-template-areas:  'title title title'
  'feature-article feature-article cover-image'
  'secondary-article secondary-article cover-image'
  'small-article1 small-article2 small-article3';
  gap: .5rem;

}
.house {
  width: 60%;
  height: 80%;
}
.title {
  background-color: midnightblue;
  color: white;
  grid-area: title;
  place-items: center;
}

.cover-image {
  display: grid;
  background: lightgray;
  grid-area: cover-image;
  place-items:center;
}
.cover-image img {
  max-width: 100%;
}
.feature-article {
  background: whitesmoke;
  grid-area: feature-article;
}

.secondary-article {
  background: whitesmoke;
  grid-area: secondary-article;
}

.small-article1 {
  background: lightgray;
  grid-area: small-article1;
}

.small-article2 {
  background: lightgray;
  grid-area: small-article2;
}

.small-article3 {
  background: lightgray;
  grid-area: small-article3;
}

h2, h3 {
  text-align: left;
}
h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
h1, h2, h3 {
  font-family: Georgia, serif;
  padding: 5px;
}

p {
  padding: 5px;
  font-family: arial;
  text-wrap: stable;
  font-size: 2.5rem;
}