@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 6vh;
  position: relative;

}

#navbar {
  height: 6vh;
  position: fixed;
  top: 0;
  right: 0;
}

#navbar ul {
  list-style-type: none;
  width: 80vw;
  display: flex;  
  justify-content: space-evenly;
}

#navbar li {
  text-decoration: none;
}

@media print {
  body {
    font-size: 12pt;
  }
}