.pricing-container {
  width: 80vw;
  margin: 0 auto;
  max-height: 80vh;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 200px !important;
  border: 1px solid black;
  gap: 2vw;
  overflow: hidden;
  
}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
}

p{
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 2px solid black;
  width: 70%;
  margin: 0 auto;
}
.pricing-card {
  max-width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 200px;
  border: 2px solid black;
  margin: 8px;
  line-height: 1.5em;
}

.basic-plan {
  order: 0;
  flex-grow: 2;
}

.pro-plan {
  order: 1;
  flex-grow: 2;
  background: #e6f2ff

}

.premium-plan {
  order: 2;
  flex-grow: 2;
}

div {
  width: 20vw;
}

ul {
  font-size: 1rem;
  text-align: flex-start;
  list-style: none;
  padding-left: 20px;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li.check::before {
  content: "✔ "; 
  color: green; 
}

li.cross::before {
  content: "✖ "; 
  color: red; 
}

button {
  padding: 5px;
  width: 80%;
  margin: 5px auto 15px;
  font-size: 1rem;
  border: none;
  font-weight: 550;
  background: #ffa64d;
}