@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: gray;
  background-image:radial-gradient
}
h1 {
  text-align: center;
}
.todo-list {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  background-color: white;
  text-align: left;
}

a{
  text-decoration: none;
}
a:link{
color: red;
}
a:active{
color: blue;
}
a:hover{
  color: green;

}
a:visited{
color: purple;

}
a:focus{
  outline: 5px solid black;
}

