body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}

p {
  color: silver;
  margin-top:5px;
  margin-bottom:5px;
}

.business-card {
  background-color: navy;
  width: 300px;
  padding: 20px;
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;

}

a {
  color: silver;
  font-style:normal;
  text-decoration: none;
}

.profile-image {
  max-width: 100%;
  
}
h2 {
  text-align:center;
  color:silver;
}
.social-media {
  margin-top:none;
  padding: none;
  background-color: navy;
  text-align:center;

}

footer {
    text-align:center;
    text-decoration:underline;
    color:blue;

}