body {
    height: 60vh;
    width: 75w;
  background: #dcdcdc;
}

span {
  display: inline-block;
}

table {
  height:50vh;
  width: 65vw;
  font-size: .4rem;
  border: none;
  border-collapse: collapse;
}




#header {
background: linear-gradient(
  to top,
  hsl(270, 80%, 70%) 5%,
  hsl(270, 80%, 75%) 50%,
  hsl(270, 80%, 80%) 80%,
  hsl(270, 80%, 90%) 95%
);
}
/*
span[class^=rate] > span {
  border: .5px solid darkgray;
  border-radius: 10px;
  height: 10px;
  width: 10px;
  margin: 0 .1em;
  background-color: ivory;
}
*/
span[class=status], span[class^=rate] {
  height: auto;
  width: auto;
  padding: 3px;
}

span[class*=three] :nth-child(1) {
 background: linear-gradient(45deg, yellow, orange);
}
span[class*=three] :nth-child(2) {
  background: linear-gradient(45deg, yellow, orange);
}
span[class*=three] :nth-child(3) {
 background: linear-gradient(45deg, yellow, orange);
}

span[class~=one] :nth-child(1) {
  background: linear-gradient(45deg, yellow, orange);
}

span[class~=two] :nth-child(1), 
span[class~=two] :nth-child(2) {
  background: linear-gradient(45deg, yellow, orange);
}

span[class~=three] > span {
 background: linear-gradient(45deg, yellow, orange);
}

tr[class=read] {
background: linear-gradient(
  to top,
  hsl(155 80% 70%) 5%,
  hsl(155 80% 80%) 50%,
  hsl(155 80% 90%) 80%,
  hsl(155 80% 95%) 90%
);
}

tr[class=read] span[class=status] {
  border: 1px solid hsl(155,80%,40%);
  background: linear-gradient(
    to right,
  hsl(155 90% 49%),
  hsl(155 90% 55%)
  );
  border-radius: 15px;
  background-size: contain;
  background-position: center;
  padding: .4em 1.6em;
}

tr[class=in-progress] {
background: linear-gradient(
  to top,
  hsl(41 80% 60%) 5%,
  hsl(41 80% 70%) 50%,
  hsl(41 80% 80%) 80%,
  hsl(41 80% 90%) 95%
);
}

tr[class=in-progress] span[class=status] {
  border: 1px solid hsl(41,80%,40%);
  background: linear-gradient(
    to right,
  hsl(41 90% 49%),
  hsl(41 90% 55%)
  );
  border-radius: 15px;
  background-size: contain;
  background-position: center;
  padding: .4em;
}

tr[class=to-read] span[class=status] {
  border: 1px solid hsl(200,80%,40%);
  background: linear-gradient(
    to right,
  hsl(200 90% 49%),
  hsl(200 90% 55%)
  );
  border-radius: 15px;
  background-size: contain;
  background-position: center;
  padding: .4em 1em;
}

tr[class=to-read] {
background: linear-gradient(
  to top,
  hsl(200 80% 60%) 5%,
  hsl(200 80% 70%) 50%,
  hsl(200 80% 80%) 80%,
  hsl(200 80% 95%) 95%
);
}