*, :before, :after {
   box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
html {
  background-color: #EBF4FA;
}

h1 {
  margin: 0;
  font-size: 6vh;
  border-bottom: .5px solid black;
  font-weight: 550;
}

h2 {
  text-align: center;
  font-size: 5vh;
  font-weight: 600;
}

h3 {
  font-size: 4.5vh;
  font-weight: 500;
}

h4 {
  font-size: 4.5vh;
  font-weight: 500;
}
#navbar {
  background-color: transparent;
  border-right: solid;
  height: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 18vw;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 4vh;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  padding-top: .8vh;
  border-bottom: .5px solid black;
}
#home {
  position: fixed;
  bottom: 0;
  text-decoration: revert !important;
}
#navbar a {
  text-decoration: none;
  color: black;
  display: block;
}

#navbar a:hover {
  color: blue;
}

p {
  font-size: 3.5vh;
}

main {
  margin-left: 20vw;
}

#main-doc li {
  font-size: 4.2vh;
}

code {
  font-size: 4vh;
  background-color: #DBE9FA;
}

footer {
  margin-left: 25vw;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}