body {
    background: rgb(0, 0, 31);
    color:white;
    text-align: center;
}
h1 {
    transform: translateY(-10px);
}

#shipContainer {
    width: 250px;
    height: 250px;
    position: fixed;
    right: 150px;
    top: 50px;
}

#alien {
    width:100px;
    height: 100px;
    position: fixed;
    right: 18.5vw;
    top: 24vh;
}

#beam {
    position: fixed;
    opacity: 0;
    right: 8.7vw;
    top: 10vh;
    z-index: -1;
    animation: fade-in 2s 6s linear forwards;
}

#beamImg {
    z-index: -1;
    width: 300px;
}

#aSImg {
    position: fixed;
    width: 200px;
    
    animation: slow-grow-move 6s linear forwards;
}

#aImg {
    position:fixed;
    width: 150px;
    height: auto;
    opacity: 0;
    animation: slow-grow 2s 8s linear forwards;
}

header {
    display:flex;
    justify-content: center;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes slow-grow {
    0% {transform: scale(0)}
    100% {transform: scale(1);
    opacity: 1;}
}

@keyframes slow-grow-move {
    0% {
        transform: scale(.5)
         translateX(50px);
    }100% {
        transform: scale(1.5)
        translateX(-100px);
    }
}